body {
    height: 100vh;
    width: 100%;
    background-color: #d5d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border-radius: 10px;
    padding: 20px 40px;
    width: 5%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    animation: scale 1s forwards;
}

@keyframes scale {
    100% {
        width: 95%;
    }
}

.content h1 {
    font-size: 100px;
    font-weight: bold;
}

.content h1,
.content h3,
.content p {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {
    .content p {
        font-size: 11px;
    }
    .content h3 {
        font-size: 20px;
    }
    .content h1 {
        font-weight: bold;
        font-size: 40px;
    }
}