@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500&display=swap');
body {
    scroll-behavior: smooth;
    font-family: var(--font);
}

:root {
    --font: 'Lato', sans-serif;
    --bg: #ffffff;
    --main-color: #006aff;
    --font-color: #222;
    --sec-font-color: rgb(106, 106, 106);
    --sec-bg: #e5e5e5;
    --main-block: #fee440;
    --sec-font: 'Poppins', sans-serif;
}


/* NAVBAR */

nav {
    background-color: var(--bg);
}

.navbar-brand {
    margin: auto 10px;
    font-weight: 900;
}

#navbarNav li a {
    font-weight: 700;
    margin: auto 20px;
    color: var(--font-color);
}

.nav-scrolled {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    transition: .7s;
}

#navbarNav li a:hover {
    color: var(--main-color);
}


/* ANIMATE WELCOME SECTION */

.welcome {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.welcome .box {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 350px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.welcome .box .title {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    height: 70px;
}

.welcome .box .title .block {
    width: 0%;
    height: 80px;
    display: flex;
    background: var(--main-color);
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
}

.welcome .box .title h1 {
    font-family: 'Lato';
    color: var(--font-color);
    font-size: 70px;
    font-weight: bold;
    opacity: 0;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    display: flex;
    align-items: baseline;
    position: relative;
    right: 4px;
}

.welcome .box .title h1 span {
    width: 0;
    height: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .7);
    border-radius: 50px;
    animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    margin-left: 5px;
    margin-top: -10px;
    position: absolute;
    bottom: 13px;
    right: -12px;
}

.welcome .box .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: -10px;
}

.welcome .box .role .block {
    margin-top: 30px;
    width: 0%;
    height: 35px;
    background: var(--main-block);
    position: absolute;
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
}

.box .role p {
    margin-top: 35px;
    animation: secFadeIn 2s forwards;
    animation-delay: 3.7s;
    opacity: 0;
    font-weight: 900;
    font-family: 'Lato';
    color: var(--sec-font-color);
    font-size: 20px;
    letter-spacing: 1px;
}

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        width: 0;
        height: 0;
        background: var(--main-color);
        opacity: 0;
        border: 0px solid #ddd;
    }
    50% {
        width: 10px;
        height: 10px;
        background: var(--main-color);
        opacity: 1;
        bottom: 45px;
    }
    65% {
        width: 7px;
        height: 7;
        bottom: 0;
        width: 15px;
    }
    80% {
        width: 10px;
        height: 10px;
        bottom: 20px;
    }
    100% {
        width: 9px;
        height: 9px;
        background: #222;
        border: 0px solid #222;
        bottom: 15px;
    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.3;
    }
}

@media screen and (max-width: 450px) {
    .welcome .box {
        width: 250px;
    }
    .welcome .box .title h1 {
        font-size: 40px;
    }
    .welcome .box .title .block {
        height: 60px;
    }
    .box .role p {
        font-size: 15px;
        margin-top: 10px;
    }
    .welcome .box .role .block {
        margin-top: -5px;
        height: 30px;
    }
    @keyframes popIn {
        0% {
            width: 0;
            height: 0;
            background: var(--main-color);
            opacity: 0;
            border: 0px solid #ddd;
        }
        50% {
            width: 7px;
            height: 7px;
            background: var(--main-color);
            opacity: 1;
            bottom: 30px;
        }
        65% {
            width: 5px;
            height: 5;
            bottom: 0;
            width: 10px;
        }
        80% {
            width: 7px;
            height: 7px;
            bottom: 15px;
        }
        100% {
            width: 5px;
            height: 5px;
            background: #222;
            border: 0px solid #222;
            bottom: 10px;
        }
    }
}


/* ABOUT */

#about {
    padding-top: 65px;
    font-family: var(--sec-font);
}

.container .kanan h2 {
    font-weight: 900;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container .kanan p {
    font-size: 15px;
    letter-spacing: 0.5px;
    color: var(--sec-font-color);
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
}

.container .kanan span {
    font-weight: 500;
    width: 300px;
    letter-spacing: 0.5px;
    margin: 5px 0;
}

.container .kanan a {
    font-size: 13px;
    letter-spacing: 1px;
}

.container img {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
    margin-top: 2px;
}

@media screen and (max-width: 1000px) {
    .container .kanan h2 {
        font-size: 20px;
    }
    .container .kanan span {
        font-size: 10px;
    }
    .container .kanan p {
        font-size: 10px;
    }
    .container .kanan a {
        font-size: 7px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 450px) {
    .container .kanan span {
        width: 300px;
        font-size: 11px;
        margin: 3px auto;
    }
    .container .kanan p {
        margin-top: 5px;
    }
    .container .kanan a {
        font-size: 12px;
    }
}


/* SKILLS */

#skills {
    padding-top: 30px;
    font-family: var(--sec-font);
}

#skills .container h2 {
    font-weight: 900;
    font-size: 40px;
}

#skills .container .progres h6 {
    font-size: 15px;
}

@media screen and (max-width: 1000px) {
    #skills .container h2 {
        font-size: 20px;
    }
    #skills .container .accordion-body {
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    #skills .container .progres h6 {
        font-size: 13px;
    }
    #skills .container button {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    #skills .container button {
        font-size: 12px;
    }
    #skills .container .progres h6 {
        font-size: 10px;
    }
}


/* WORK */

#work {
    padding-top: 30px;
    font-family: var(--sec-font);
}

#work .container h2 {
    font-weight: 900;
    font-size: 40px;
}

#work .container {
    font-size: 13px;
    font-weight: 500;
}

@media screen and (max-width: 1000px) {
    #work .container h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    #work .container p {
        font-size: 10px;
    }
}


/* CONTACT */

#contact {
    padding-top: 30px;
    font-family: var(--sec-font);
}

#contact .container h2 {
    font-weight: 900;
    font-size: 40px;
}

#contact .container label {
    font-weight: 500;
}

@media screen and (max-width: 1000px) {
    #contact .container h2 {
        font-size: 20px;
    }
    #contact .container .alert {
        font-size: 13px;
    }
}

@media screen and (max-width: 450px) {
    #contact .container button {
        font-size: 13px;
    }
    #contact .container label {
        font-size: 12px;
        font-weight: 500;
    }
    #contact .container .alert {
        font-size: 10px;
    }
}


/* FOOTER */

footer {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    height: 100px;
    background-color: var(--font-color);
    color: var(--bg);
}

footer p {
    margin-top: 10px;
}

footer a {
    font-size: 20px;
    margin: 20px 10px;
}

@media screen and (max-width: 450px) {
    footer p {
        font-size: 11px;
    }
}